# ignore linkedin articles
Linkedin articles

# ignores all .md files
.md

# does not ignore the README.md file
!README.md

# ignore all .zip files
.zip

.services

.settings

PASOEContent

.dbconnection

.project

.propath